{{ partial "header.html" . }}                 
<main id="site-main" class="site-main body--dark-bg">
    <div class="main-content">
        <div class="site-banner container main-bg banner-wrapper">
            {{ partial "cover-hero.html" . }}
        </div>
        {{ partial "banner-cat.html" . }}
        <div class="content-area">{{ if $.Site.Data.home.introSite | default true }}
            <div class="container wrapper-inner main-bg">
                <div class="site-intro space--center is-center">
                    <header class="card-grid__head is-center space--top">{{ with $.Site.Data.home }}
                        <h3 class="card-grid__head-title">{{ .introTitle }}</h3>{{ end }}
                    </header>
                    <div class="site-intro__body">{{ with $.Site.Data.home }}{{ range .intro }}
                        <p>{{ .text }}</p>{{ end }}{{ end }}
                    </div>
                </div>
            </div>{{ end }}{{ if $.Site.Data.home.featured | default true }}
            <div class="container wrapper-inner main-bg hj-product__featured">
                <header class="card-grid__head is-center space--center">{{ with $.Site.Data.home }}
                    <h3 class="card-grid__head-title"><span>{{ .featuredTitle }}</span></h3>{{ end }}
                </header>
                <div class="card-grid__wrapper clearfix">
                    {{ range .Site.Taxonomies.featured.featured }} {{ partial "card-grid.html" . }} {{ end }}
                </div>
            </div>{{ end }}{{ if $.Site.Data.home.arrival | default true }}
            <div class="container wrapper-inner main-bg hj-product__new-coll">
                <header class="card-grid__head is-center space--center">
                    <h3 class="card-grid__head-title"><span>Produk Terbaru</span></h3>
                </header>
                <div class="card-grid__wrapper clearfix">
                {{ $recent_product_num := 8 }}
                {{ range first $recent_product_num (where .Site.RegularPages "Section" "in" "store") }}
                {{ partial "card-grid.html" . }}
                {{ end }}
                </div>
                <a href="/store" class="hj-product__new-coll-btn">LIHAT SEMUA <i class="icon-angle-double-right"></i></a>
            </div>{{ end }}
        </div>
    </div>
</main>      
{{ partial "footer.html" . }}
        