{{ if $.Site.Data.theme.widgets.widget_tagcloud | default true }}
<section class="sidebar-widget">
    <div class="widget-tagcloud">
       <div class="widget-header">
           <h3 class="widget-title widget-title__line">Tag Cloud</h3>
       </div>
        <div class="widget-content widget-cloud">
            <ul class="widget-cloud__items">
                {{ range first 10 .Site.Taxonomies.tags.ByCount }}
                    <li class="widget-cloud__item"><a href="{{ "tags/" | relLangURL }}{{ .Name | urlize | lower }}" title="{{ .Name }}" class="cloud-link border-color">{{ .Name }}</a></li>
                {{ end }}
            </ul>
        </div>
    </div>
</section>
{{end}}