.container {
    margin: 0 auto;
    width: 100%;
}
.awesomplete {
    width: 100%;
}
.container {
    max-width: 1020px;
}
.wrapper-inner,
.heading-wrapper,
.nav-wrapper,
.banner-wrapper {
    padding: 0 1.5em;
}
.clearfix {
    lost-utility: clearfix;
}
.img {
    width: 100%;
}

/*header*/
.heading--left,
.col-1-3 {
    lost-column: 1/3;
}
.heading--right,
.col-2-3 {
    lost-column: 2/3;
}
.hj-cat__box {
    lost-column: 1/3 0 0;
}
.hj-cat__box--all {
    lost-column: 2/5;
}
.hj-cat__demo {
    lost-column: 3/5;
}
.card-grid__col-3 {
    lost-column: 1/3;
}
.card-grid__col-4 {
    lost-column: 1/4 4 20px;
}
.card-grid__col-5 {
    lost-column: 1/5;
}
.info-banner__col {
    lost-column: 1/2;
}
.product-list__sidebar {
    lost-column: 1/5;
}
.product-list__content {
    lost-column: 4/5;
}
.product-cover,
.product-info {
    lost-column: 1/2 2 42px;
}
.size-cart__box {
    lost-column: 1/3;
}
.widget-footer__col {
    lost-column: 1/4;
}
.post-content {
    lost-column: 2/3;
}
.post-sidebar {
    lost-column: 1/3;
}
.post-feed__media {
    lost-column: 1/3;
}
.post-feed__body {
    lost-column: 2/3;
}

@media (--only-medium-screen) {
    .card-grid__col-4 {
        lost-column: 1/3;
    }
    .post-content,
    .post-sidebar {
        width: 100%;
    }
}
@media (--small-screen) {
    .banner-wrapper,
    .heading-wrapper,
    .nav-wrapper {
        padding: 0;
    }
    .card-grid__col-4 {
        lost-column: 1/2 2 12px;
    }
    .product-cover,
    .product-info,
    .size-cart__box {
        lost-column: 1/2;
    }
    .widget-footer__col {
        lost-column: 1/2;
    }
    .col-1-3,
    .col-2-3 {
        width: 100%;
    }
    .heading--right {
        display: none;
    }
    .hj-cat__box {
        lost-column: 1/2 0 0;
    }
    .heading--left,
    .hj-cat__box--all,
    .post-content,
    .post-sidebar {
        width: 100%;
    }
}
@media (--extra-small-screen) {
    .hj-cat__box,
    .widget-footer__col,
    .post-feed__media,
    .post-feed__body,
    .product-cover,
    .product-info,
    .size-cart__box {
        width: 100%;
    }
    .post-feed__media {
        margin-bottom: 1em;
    }
}