<div class="cover-hero">
    <div class="slider stick-dots">{{ with $.Site.Data.home }} {{ range .slider }}
        <div class="slide">
            <div class="slide__img">
                <img src="{{ .image | relURL }}" alt="banner" class="full-image animated" data-animation-in="zoomInImage" width="1500" height="620" />
            </div>
        </div>{{ end }}{{ end }}
    </div>
</div>