    <script src="{{ .Site.BaseURL }}js/theme.min.js"></script>
    {{ if eq .Section "store" }}
    <script src="https://hijacket.net/js/awesomplete.js"></script>{{ end }}
    {{ if .IsHome }}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>{{ end }}