{{ if .IsHome }}
<script type="application/ld+json">
{ 
"@context": "http://schema.org", 
"@type": "WebSite", 
"url": "{{ .Site.BaseURL }}", 
"name": "{{ $.Site.Title }}",
"headline": "{{ $.Site.Title }},
"author": {
  "@type": "Person",
  "name": "{{ $.Site.Params.author }}"
},
"publisher": {
   "@type": "Organization",
   "name": "{{ $.Site.Params.author }}",
   "logo": {
     "@type": "ImageObject",
     "url": "{{ $.Site.Params.logo }}",
     "width": 130,
     "height": 36
   }
 },
 "description": "{{ $.Site.Params.description }}"
}
</script>
{{ else }}
<script type="application/ld+json">
{{if eq .Section "post"}}
    {
     "@context": "http://schema.org",
     "@type": "NewsArticle",
     "mainEntityOfPage":{
       "@type":"WebPage",
       "@id":"{{ .Permalink }}"
     },
     "headline": "{{ .Title }}",
     "image": {
       "@type": "ImageObject",
       "url": "{{ if .Params.image }}{{ .Params.image | relURL }}{{ end }}",
       "height": 600,
       "width": 420
     },
     "datePublished": "{{ time .Date }}",
     "dateModified": "{{ time .Date }}",
     "author": {
       "@type": "Person",
       "name": "{{ $.Site.Params.author }}"
     },
     "publisher": {
       "@type": "Organization",
       "name": "{{ $.Site.Title }}",
       "logo": {
         "@type": "ImageObject",
         "url": "{{ $.Site.Params.logo }}",
         "width": 130,
         "height": 36
       }
     },
     "description": "{{ .Description }}"
    }
{{ else }}
    { 
      "@context": "http://schema.org", 
      "@type": "WebSite", 
      "url": "{{ .Permalink }}", 
      "name": "{{ .Title }}",
       "author": {
          "@type": "Person",
          "name": "{{ $.Site.Params.author }}"
        },
      "description": "{{ $.Site.Params.description }}",
    }
{{ end }}
</script>
{{ end }}