<div class="testimoni-bg">
    <div class="store-wrapper">
        <div class="hero-slider testimoni-slider">
            <div class="testimoni-slide">
                <div class="testimoni-inner is-center">
                    <div class="testimoni-avatar">
                        <figure>
                            <img src="{{ $baseurl := .Site.BaseURL }}/images/Hijacket-People-Say-1.png" alt="testimoni hijacket" width="200" height="200">
                        </figure>
                    </div>
                    <div class="testimoni-info">
                        <p>I wear Hijacket travel around Europe. Very good & comfort. Still comfortable to wear even though the temperature of 0 degrees celsius at Swiss. And comfortable too in France, German with 6 degrees celcius. I really recommend Hijacket</p>
                        <p><span class="icon-quote-right"></span></p>
                        <p class="testimoni-name">Dyla Puspita</p>
                        <p class="testimoni-job">Using For Europe Tour</p>
                    </div>
                </div>
            </div>
            <div class="testimoni-slide">
                <div class="testimoni-inner is-center">
                    <div class="testimoni-avatar">
                        <figure>
                            <img src="{{ $baseurl := .Site.BaseURL }}/images/Hijacket-People-Say-5.png" alt="testimoni hijacket" width="200" height="200">
                        </figure>
                    </div>
                    <div class="testimoni-info">
                        <p>Do you know what? I don’t have special clothes for climbing mountains, I just dressed up in comfortable clothes, actually very comfortable. I bought this one from an Indonesian website, from Indonesia. Frankly it’s very comfortable for veiled women who want to play sports because it’s very long and comfortable as well and sportive. I will show you how you can buy it because honestly it’s very nice for veiled women who want to play sports outdoors. ❤️</p>
                        <p><span class="icon-quote-right"></span></p>
                        <p class="testimoni-name">Kim Miso</p>
                        <p class="testimoni-job">Korea</p>
                    </div>
                </div>
            </div>
            <div class="testimoni-slide">
                <div class="testimoni-inner is-center">
                    <div class="testimoni-avatar">
                        <figure>
                            <img src="{{ $baseurl := .Site.BaseURL }}/images/Hijacket-People-Say-3.png" alt="testimoni hijacket" width="200" height="200">
                        </figure>
                    </div>
                    <div class="testimoni-info">
                        <p>Aaaaaaaaaaaaaah Sukaaaaaaaaaaa ❤</p>
                        <p><span class="icon-quote-right"></span></p>
                        <p class="testimoni-name">Ayu Indrianti</p>
                        <p class="testimoni-job">Host HalalLiving NetTV</p>
                    </div>
                </div>
            </div>
            <div class="testimoni-slide">
                <div class="testimoni-inner is-center">
                    <div class="testimoni-avatar">
                        <figure>
                            <img src="{{ $baseurl := .Site.BaseURL }}/images/Hijacket-People-Say-4.png" alt="testimoni hijacket" width="200" height="200">
                        </figure>
                    </div>
                    <div class="testimoni-info">
                        <p>It was summer 16-210 C in Turkey. Hijacket warm & comfy</p>
                        <p><span class="icon-quote-right"></span></p>
                        <p class="testimoni-name">Nisa Cookie</p>
                        <p class="testimoni-job">Celebgram | At Turkey</p>
                    </div>
                </div>
            </div>
            <div class="testimoni-slide">
                <div class="testimoni-inner is-center">
                    <div class="testimoni-avatar">
                        <figure>
                            <img src="{{ $baseurl := .Site.BaseURL }}/images/Hijacket-People-Say-2.png" alt="testimoni hijacket" width="200" height="200">
                        </figure>
                    </div>
                    <div class="testimoni-info">
                        <p>Saya tinggal di Mesir, dan ketika tau ada jaket khusus hijaber, saya langsung tertarik. Recommended</p>
                        <p><span class="icon-quote-right"></span></p>
                        <p class="testimoni-name">Alyfa</p>
                        <p class="testimoni-job">Mesir</p>
                    </div>
                </div>
            </div>
            <div class="testimoni-slide">
                <div class="testimoni-inner is-center">
                    <div class="testimoni-avatar">
                        <figure>
                            <img src="{{ $baseurl := .Site.BaseURL }}/images/Hijacket-People-Say-6.png" alt="testimoni hijacket" width="200" height="200">
                        </figure>
                    </div>
                    <div class="testimoni-info">
                        <p>Hijacket selain menjadi jaket sehari-hari menutup aurat juga lho. Warna-warnanya bagus-bagus banget, modelnya banget. Cocok banget buat para Hijabers</p>
                        <p><span class="icon-quote-right"></span></p>
                        <p class="testimoni-name">Nurul Hikmah</p>
                        <p class="testimoni-job">Moslem Model</p>
                    </div>
                </div>
            </div>
            <div class="testimoni-slide">
                <div class="testimoni-inner is-center">
                    <div class="testimoni-avatar">
                        <figure>
                            <img src="{{ $baseurl := .Site.BaseURL }}/images/Hijacket-People-Say-7.png" alt="testimoni hijacket" width="200" height="200">
                        </figure>
                    </div>
                    <div class="testimoni-info">
                        <p>Warna lucu banget, cocok banget buat musim dingin. Buat hijaber pilihan yang tepat</p>
                        <p><span class="icon-quote-right"></span></p>
                        <p class="testimoni-name">Rifka Martha</p>
                        <p class="testimoni-job">Public Figure</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>